
/* DOM selection */
.wtf_selection
{
	background-color: #3c7bd9;	/* selection-border color */
	z-index: 100;
}
.wtf_selection_selected
{
	background-color: #001b79;		/* selection-border color */
	z-index: 100;
}

/* FLASH selection */
.wtf_selection_tab
{
	background-color: #3c7bd9;	/* selection-border color */
	color: #000000;				/* tab-text color */
	font-size: 12px;			/* tab-text size */
	text-align: center;			/* tab-text align */
	width: 70px;				/* tab width */
	z-index: 100;
}
.wtf_selection_tab_selected
{
	background-color: #001b79;		/* selection-border color */
	color: #ffffff;				/* tab-text color */
	font-size: 12px;			/* tab-text size */
	text-align: center;			/* tab-text align */
	width: 70px;				/* tab width */
	z-index: 100;
}

.wtf_selection_word
{
	background-color: #8ccbf9;	/* selection-border color */
}

.wtf_selection_word_selected
{
	background-color: #3c7bd9;	/* selection-border color */
	color: #ddd;
}

/* new-discussion icon */
#wtf_new_icon
{
	z-index: 101;
}

/* status bar */
#wtf_status_bar
{
	position: fixed;
	bottom: 0px;				/* vertival position [horizontal position (left/right) can be set in wtf_config.xml] */
	/*width: 150px; */
	font-size: 11px;
	background-color: #ede9e3;
	border-top: 1px solid #b1a594;
	border-left: 1px solid #b1a594;
	border-right: 1px solid #b1a594;
	color: #000;
	padding: 4px;	
	z-index: 102;
	margin:0px;

}
/* hax for IE6 */
* html #wtf_status_bar {
position: absolute;
left: expression(((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
top:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop
+(documentElement.clientHeight-this.clientHeight) 
: document.body.scrollTop
+(document.body.clientHeight-this.clientHeight));
}

#wtf_status_bar td
{
	margin: 0px;
	padding: 0px;

}


/* container containing status message in the status bar */
#wtf_status_panel
{
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	margin: 0px;
	text-align: left;
	font-size: 11px;
	color: #000;
	overflow: hidden;
	width: 150px;
	height: 18px;
	display: block;
}

/* container containing menu options in the status bar */
#wtf_menu_panel
{
	padding: 0px;
	margin: 0px;
	text-align: left;
	font-size: 11px;
}

/* buttons */
.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  margin: 0;
  margin-right: 10px;
  text-decoration: none;
  background: url("css_images/hborder.png") repeat-x 0px -27px;
}
.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled {
  padding: 1px 1px 1px 1px;
}
.gwt-ToggleButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
}
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  padding: 1px 1px 1px 1px;
}
.gwt-ToggleButton-down {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-down-hovering {
  background-position: 0 -513px;
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-down-disabled {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: default;
}


/* *********** DEBUG TOOLS ********* */

/* status console */
#wtf_status_console
{
	position: fixed;
	top: 0px;
	right: 0px;
	font-size: 11px;
	background-color: #000;
	color: #ddd;
	padding: 10px;
	text-align: left;
	width: 300px;
	filter:alpha(opacity=70);
  	opacity:.70;
  	z-index: 101;
}
* html #wtf_status_console {
position: absolute;
right: 0px;
top: expression(((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
}