
/* DOM selection */
.wtf_selection
{
	background-color: #3c7bd9;	/* selection-border color */
	z-index: 100;
}
.wtf_selection_selected
{
	background-color: #001b79;		/* selection-border color */
	z-index: 100;
}

/* FLASH selection */
.wtf_selection_tab
{
	background-color: #3c7bd9;	/* selection-border color */
	color: #000000;				/* tab-text color */
	font-size: 12px;			/* tab-text size */
	text-align: center;			/* tab-text align */
	width: 70px;				/* tab width */
	z-index: 100;
}
.wtf_selection_tab_selected
{
	background-color: #001b79;		/* selection-border color */
	color: #ffffff;				/* tab-text color */
	font-size: 12px;			/* tab-text size */
	text-align: center;			/* tab-text align */
	width: 70px;				/* tab width */
	z-index: 100;
}

/* status bar */
#wtf_status_bar
{
	position: fixed;
	bottom: 0px;				/* vertival position [horizontal position (left/right) can be set in wtf_config.xml] */
	width: 220px;
	font-size: 11px;
	background-color: #ede9e3;
	border-top: 1px solid #b1a594;
	border-left: 1px solid #b1a594;
	border-right: 1px solid #b1a594;
	color: #000;
	padding: 3px;	
	z-index: 101;
	margin:0px;
}

#wtf_status_bar td
{
	margin: 0px;
	padding: 0px;
}


/* container containing status message in the status bar */
#wtf_status_panel
{
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
	text-align: left;
	font-size: 11px;
	color: #000;
}

/* container containing menu options in the status bar */
#wtf_menu_panel
{
	padding: 0px;
	margin: 0px;
	text-align: left;
	font-size: 11px;
}

/* buttons */
#wtf_menu_panel button
{
	font-size: 11px;
	padding: 1px;
}


/* *********** DEBUG TOOLS ********* */

/* status console */
#wtf_status_console
{
	position: fixed;
	top: 0px;
	right: 0px;
	font-size: 11px;
	background-color: #000;
	color: #ddd;
	padding: 10px;
	text-align: left;
	width: 300px;
	filter:alpha(opacity=70);
  	opacity:.70;
  	z-index: 101;
}